<section class="about" id="about">
  <div class="about-img">
    <img src="../../assets/resources/resources/Instagram-pic.png">
  </div>

  <div class="about-text">
    <h2>About <span>Me</span> </h2>
    <h4>Full Stack Developer!</h4>
    <p>I am a highly skilled java web developer and Automation developer with 3 years of experience in TypeScript, Java 8 , SQL,
      Python . I possess knowledge in widely used frameworks like Angular, Spring, Selenium BDD Automation and experience
      with REST APIs and Spring frameworks. Developed many standalone applications from scratch using Core JAVA, JAVA 8,
      TypeScript, Angular, Node.js, SQL (Oracle, PostgreSQL).</p>
      <br>
      <a href="#" class="btn-box">More About Me</a>
  </div>



</section>
