.services {
  padding-top: 5rem;
  position: relative;
  display: grid;
  // height: 100vh;
  background: #081b29;
  color: aliceblue;
  font-size: 20px;
  margin-bottom: 4rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
