<section>
  <div class="services" id = "services">
    <div class ="container">
      <h1 class = "sub-title"> My <span>Services</span></h1>
      <div class="services-list">
        <div>
          <i class="bi bi-code-slash"></i>
          <h2>UI/UX Design</h2>
          <p>Proficient in developing applications using Java, Angular, Spring Framework, JDBC, Hibernate and MySQL.
            • Gained solid understanding of object-oriented concepts (OOPs ) and their implementation in Java.
            • Contributed in a team to deliver projects defect-free and on-time with strong hands-on experience in JAVA 8, Spring
            boot, JPA, GIT.
            • Improved User Experience and speed through optimization technique and reduced unwanted calls.
            • Worked on end-to-end real time Interactive web Applications from scratch.
            • My work includes developing REST APIs to retrieve and display data from databases.
            • Worked on UI automation with Selenium BDD framework and reduce the manual smoke tests
            • As a team lead, lead a team of 4 freshers to work on hackathons.
            • Worked on data migration project from Oracle to Postgre.</p>
            <i class="bi bi-code-slash" style="color: #00eeff;"></i>
            <h2>UI/UX Design</h2>
          <p>Proficient in developing applications using Java, Angular, Spring Framework, JDBC, Hibernate and MySQL.
            • Gained solid understanding of object-oriented concepts (OOPs ) and their implementation in Java.
            • Contributed in a team to deliver projects defect-free and on-time with strong hands-on experience in JAVA 8, Spring
            boot, JPA, GIT.</p>
          <a href="#" class="read">learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
