.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  // background: url(../../assets/resources/resources/backgroup-paper.png);
  background: radial-gradient(circle, #1f3a5b, #091727);
  // background-color: #243447;
  background-size: cover;

  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10%;
  color: #ededed;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 28px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
}

.home-content h3 span {
  color: #0ef;
}

.home-sci a:hover {
  color: #081b29;
  background: #0ef;
  box-shadow: 0 0 20px #0ef;
}

.home-content h1 {
  font-size: 50px;
  font-weight: 650;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: .5s ease;
  margin: 30px 15px 30px 0;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s*var(--i));
}

.profile-photo-component {
  position: relative;
  // top: 130px;
  // right: 100px;
  // width: 200x; /* Adjust size as needed */
  // height: 450px; /* Adjust size as needed */
  // width: 30vw; /* 20% of the viewport width */
  // height: 30vw; /* Maintain square aspect ratio */
  width: auto; /* Width adjusts based on aspect ratio */
  height: 30vw;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.profile-photo-component img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .profile-photo-component {
    display: none;
  }
}
