<section class="home">

  <div class="home-content">
    <h3>Hello, It's Me</h3>
    <h1>Vijay Poloju</h1>
    <h3>And I'm a <span #typedElement  class="text"></span></h3>
    <p>
      I'm a Full Stack Developer with 3+ years of experience, specializing in scalable backend systems and dynamic frontend interfaces.
      <br>Skilled in  Java, Spring Boot, Node.js, Angular, Python, PostgreSQL, and AWS.
      <br>Passionate about solving complex problems and building innovative solutions.
    </p>

    <div class="home-sci">
      <div>
        <a *ngFor="let link of socialMediaLinks; let i= index" [href]="link.url" target="_blank" [style.--i]="i + 1">
          <i class="bi" [ngClass]="link.icon"></i>
        </a>
      </div>
    </div>
    <a routerLink="/about" class="btn-box">More About Me</a>

  </div>
  <div class="profile-photo-component">
    <img src="../../assets/resources/resources/boulderSnowImage.jpg" alt="Profile Photo">
  </div>
</section>
